<!--FOOTER START-->
<footer class="footer">
  <div class="container">
    <div class="col-md-6 p_0 socialIocns">
      <a href="https://www.facebook.com/myuappsocial" class="c_p" ><i class="fab fa-facebook-f"></i></a>
      <a href="https://www.instagram.com/myu_app/" class="c_p" ><i class="fab fa-instagram"></i> </a>
      <a href="https://twitter.com/MyU_app" class="c_p" ><i class="fab fa-twitter"></i> </a>
      <a href="mailto:info@myu.co" class="c_p"><img src="assets/images/mail.png" alt="" title=""></a>
    </div>
    <div class="col-md-6 p_0">
      <ul class="list-inline text-right p_t_10">
        <li><a (click)="routeUser('faqs')" class="c_p" i18n="@@faqs">Faqs</a></li>
        <li><a (click)="routeUser('temsofservice')" class="c_p" i18n="@@tos">Terms of Services</a></li>
        <li><a (click)="routeUser('privacypolicy')"  class="border_none c_p" style="padding-right:0;" i18n="@@pp">Privacy Policy</a></li>
      </ul>
    </div>
  </div>
  <p class="f_s_12 text-center m_b_0 p_t_25 c_88909d" i18n="@@myuCopyright">MyU © Copyright 2016 | All Rights Reserved </p>
</footer>
<!--FOOTER END-->

